.deps/
openfst/Makefile
openfst/config.*
openfst/libtool
openfst/**/Makefile
openfst/stamp*
openfst/**/stamp*
*.egg-info/
build/
tmp/
*~
__pycache__/
.libs/
*.lo
*.la
*.so
*.o
bin/
openfst/src/extensions/far/farcompilestrings
openfst/src/extensions/far/farcreate
openfst/src/extensions/far/farequal
openfst/src/extensions/far/farextract
openfst/src/extensions/far/farinfo
openfst/src/extensions/far/farisomorphic
openfst/src/extensions/far/farprintstrings
openfst/src/extensions/mpdt/mpdtcompose
openfst/src/extensions/mpdt/mpdtexpand
openfst/src/extensions/mpdt/mpdtinfo
openfst/src/extensions/mpdt/mpdtreverse
openfst/src/extensions/pdt/pdtcompose
openfst/src/extensions/pdt/pdtexpand
openfst/src/extensions/pdt/pdtinfo
openfst/src/extensions/pdt/pdtreplace
openfst/src/extensions/pdt/pdtreverse
openfst/src/extensions/pdt/pdtshortestpath